.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

body {
  background-color: whitesmoke;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

ul {
  padding: 0;
  list-style: none;
}
.navigation {
  display: flex;
  box-shadow: 5px 10px 20px -20px rgba(85,172,238,1);
  border: 2px solid rgba(238,238,238 ,1);
  border-radius: 5px;
  padding: 0 0 0 10px;
  height: 46px;
  align-items: center;
  background-color: white;
}
.navigation li {
  cursor: pointer;
  margin-right: 10px;
}
.navigation > li > a {
  color: black;
}
.navigation--selected {
  font-weight: bold;
}
.navigation__search {
  margin-left:auto;
}
.navigation__search input{
  width: 285px;
}

.container {
  width: 840px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* BEM Block__Elements--modifiers */
.entry {
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: white;
  display: inline-block;
  width: 100%;
}
.entry--filled {
  background-color: #eed8d8;
}
.entry__name {
  font-weight: bold;
  font-size: 24px;
  max-width: 480px;
  display: inline;
}
.entry__type {
  font-size: 18px;
  margin-left: 10px;
  margin-right: 40px;
  display: inline;
  margin-top: auto;
  margin-bottom: auto;
}
.entry__id {
  color: green;
  font-weight: bold;
  margin-right:8px;
  display: inline;
  margin-top: auto;
  margin-bottom: auto;
}
.entry__id--filled {
  color: #b50202;
}
.entry__title-row {
  display: flex;
  position: relative;
}
.entry__save {
  /* margin-left: auto; */
  display: block;
  position: absolute;
  top: -15px;
  right: 0;
  text-align: center;
  font-size: 38px;
}
.entry__save:before { content: "\2606"; }
.entry__save:hover { text-shadow: 1px 1px 1px gray; }
.entry__save--saved { color: #379af7; }
.entry__save--saved:before { content: "\2605"; }
.entry__save--saved:hover { text-shadow: 1px 1px 1px gray; }

.entry__time-row {
  display: flex;
  font-weight: bold;
  font-size: 20px;
}
.entry__description {
  font-size: 14px;
}
.entry__day {
  margin-right:8px;
}
.entry__by-row {
  font-size: 14px;
  margin-top: 1px;
  margin-bottom: 5px;
  font-style: italic;
}
.entry__extras {
  font-size: 13px;
  display: flex;
  margin-top: 10px;
  margin-bottom: 5px;
}
.entry__extras > div {
  margin: auto 10px auto 0;
}
.entry__see-also a {
  color: #0050a7;
  padding-right: 8px;
}
.entry__round {}
.entry__material {}
.entry__level {}
.entry__attitude {}
.entry__age {}
.entry__next-round {}
.entry__status {
  font-weight: bold;
  color: #b50202;
}


.grid-buttons {
  position: relative;
  display: inline;
  top: -44px;
}
.grid-buttons input {
  width: 60px;
  margin-left: 2px;
}
.entry--listview {
  box-shadow: none;
  margin-bottom: 2px;
}
.entry--listview > .entry__title-row > .entry__id {
  font-size: 14px;
}
.entry--listview > .entry__title-row > .entry__name {
  font-size: 14px;
  margin-top: auto;
  margin-bottom: auto;
}
.entry--listview > .entry__title-row > .entry__type {
  font-size: 14px;
}
.entry__see-also--listview { display: none; }
.entry__by-row--listview { display: none; }
.entry__description--listview { display: none; }
.entry__extras--listview { display: none; }
.entry__status--listview { display: none; }
.entry__time-row--listview {

}
.people-list {
  font-size: 14px;
  margin-right: 50px;
}
.people-list__title {
  font-size: 16px;
  font-weight: bold;
}
.type-list {
  font-size: 14px;
}
.type-list__title {
  font-size: 16px;
  font-weight: bold;
}
.email {
  display: inline-block;
  text-align: center;
}
.email pre{
  box-shadow: 4px 4px 4px 5px;
  padding: 10px;
  width:200px;
  height:300px;
}
.email__title {
  font-weight:bold;
  margin-bottom: 8px;
}
.random-link {
  display:block;
}
.filter-buttons {
  margin-bottom: 10px;
  display: grid;
  width: 180px;
  left: 30px;
  top: 70px;
  position: fixed;
}
.filter-buttons input {
  margin-bottom: 5px;
  font-size: 14px;
}
.filter__description {
  font-style: italic;
  padding: 5px;
}
.filter__clear {
  margin-left: 10px;
  font-size: 12px;
}
.starred-entries__none {
}
